@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #111827;
  --background-color: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f9fafb;
    --background-color: #111827;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
